/* .container{
    display: flex;
    justify-content: space-between;
} */

.daniel , .nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(136, 70, 202);
    width: 500px;
    height: 400px;
    color: white;
}

.nav , img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    padding: 10px;
}