*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: space-around;
    /* margin-top: 20px; */
    /* border: 2px solid black; */
}

.left-container{
    /* display: flex;
    justify-content: flex-start; */

    /* padding-top: 100px; */
    width: 100%;
    height: 46.5rem;
    background-color: #b2e2ef;
    border: 2px solid red;
}

.add-note button{
    height: 2.6rem;
    width: 8rem;
    border-radius: 1rem;
}

.right-container{
    border: 2px solid green;
    width: 100%;
    height: 46.5rem;
    
}

.right-container h1 , p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input-box{
    margin: 12rem 0 0 6rem;
}

.right-container p{
    margin-top: 50%;
}



#button button{
    width: 7rem;
    height: 3rem;
    border-radius: 1rem;
    background: linear-gradient(135deg, #FF0000, #FF4D4D, #FF9999, #FFC0CB);
}



#notes_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem; /* Space between notes */
    padding: 1rem;
    background-color: #f0f0f0; /* Optional background for the container */
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#notes_container div {
    width: 30%;
    height: 15rem;
    display: flex;
    justify-content: space-between;
    align-items:self-start;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#notes_container div button {
    background-color: #ff5c5c;
    color: white;
    border: none;
    padding: 0.2rem .4rem;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1rem;
}

#notes_container div button:hover {
    background-color: #ff2e2e;
}

#notes_container div p {
    margin: 0;
    padding-top: 1rem; /* Space at the top */
    text-align: center; /* Center the text */
    width: 100%; /* Ensure the text occupies the full width */
    flex-grow: 1; /* Allow text to take vertical space */
}

#text-area:hover {
    background-color: #f0f0f0; /* Changes background color on hover */
    border: 2px solid #808883; /* Changes border color */
    color: #333; /* Changes text color */
}