*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    padding: 1rem;
    /* position: relative; */
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7));;
    /* margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto; */
}
.header a{

    font-size: 13px;
    padding: 2px;
    color: #050505;
    background-color: #fff;
    text-decoration: none;
    border-radius: 0px;
    margin-top: 8px;
    margin-left: 30px;
}

.nav ul {
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    color: white;

    /* padding: 7px; */
}
.nav  li{
    /* padding-left: 50px;
    padding-right: 50px;
    padding: 10px; */
    /* border: 1px solid black; */
    margin-left: 50px;
    margin-top: 10px;
    font-size:smaller;
    /* padding: 2rem; */
}

.image img{
    width: 100%;
}

.images{
    display: flex;
    
}

.images img{
    flex: 1;
    width: 260px;  /* Set a fixed width */
  height: auto;
  padding: 15px;
}






.image-para ,.para p{
    /* width: 30%; */
    display: flex;
    background-color: black;

}

.image-para , .para{
    width: 100%;
    color: white;
    padding: 10px;
    font-size: smaller;
    /* margin-top: 200px; */
}
.image-para img{
    display: flex;
    width: 550px;
    height: auto;
    padding-top: 20px;
    padding-right: 80px;
    padding-bottom: 30px;
    padding-left: 20px;
}
.para{
    margin-top: 10rem;
}

