*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    font-family: sans-serif;
    border: 2px solid black;
    margin-top: 3rem;
}

.capital{
    margin: 3rem;
}

.planet{
    margin: 3rem;
    margin-bottom: 1.5rem;
}

h2{
    margin-bottom: 1rem;
}

#btn{
    margin-top: ;
    margin-left: 2rem;
    margin-bottom: 2rem;
    height: 3rem;
    width: 8.7rem;
    background-color: rgb(6, 131, 209);
    color: white;
}